[submodule "asm-test"]
	path = asm-test
	url = https://github.com/fox32-arch/demos.git
[submodule "fox32rom"]
	path = fox32rom
	url = https://github.com/fox32-arch/fox32rom
[submodule "fox32os"]
	path = fox32os
	url = https://github.com/fox32-arch/fox32os
